<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="Images/website_logo/nav_logo.png"> Shafi's Blog </a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/categorised_post/Global">Global</a></li>
                    <li><a href="/who_am_i">Who am I</a></li>

        
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Programming</h5>
                <ul>
                    <li><a href="/categorised_post/Object Oriented">Object Oriented</a></li>
                    <li><a href="/categorised_post/Functional">Functional</a></li>
                    <li><a href="/categorised_post/Structured">Structured</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Development</h5>
                <ul>
                    <li><a href="/categorised_post/Android">Android</a></li>
                    <li><a href="/categorised_post/Web">Web</a></li>
                    <li><a href="/categorised_post/Backend">Backend</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-network">
                    <a href="/twitter"target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="/facebook" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="/google_plus" target="_blank" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>©  All rights reveserved to Shafi's blog  </p>
    </div>
</footer>