<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap_css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- my own custom css -->
    <link rel="stylesheet" type="text/css" href="css/custom_style.css">
      
    <title>Shafi's Blog</title>
    <link rel="icon" type="image/ico" href="Images/title_icon/title_icon.png" />

    <!-- latest jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  </head>
  <body>



    <!-- loading navigation bar dynimacally using jquery -->
            <!--Navigation ba starts-->
            <div id="nav-placeholder"> </div>
            
            <!-- loading navigation bar dynimacally using jquery -->
            <script>
                 $("#nav-placeholder").load("include/nav_bar.html")
            </script>
            <!--end of Navigation bar-->
                

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>
  
        <div class="row text-center text-lg-left">
  
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
          </div>
        </div>
  
      </div>
  <!-- /.container -->


   <!-- loading footer using jquery -->
   <div id="footer-placeholder"></div>
   <script>
    $("#footer-placeholder").load("include/footer.html")
   </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="css/bootstrap_js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>