 <!-- Nav bar starts -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <!-- Image and text -->
            <a class="navbar-brand ml-4 my-1" href="/"> 
              <img id="logo" alt="Logo" src="/images/website_logo/nav_logo.png" width="180" height="70"> 
              
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                </li>
              </ul>

              <a href="/post" class="btn btn-outline-warning  mr-4">Post Rent or Exchange</a>

              <%if(user) {%>
              <div class="img-same-size-profile mx-2 img-circle" style="background-image:url('<%= user.profile_image%>');">
                </div>
              <% }%>
              <form class="form-inline my-lg-0" action="/search" method="GET">

                <!-- if user is logged in show his email and logout button or show login button -->
                <%if(user) {%>
                  <div class="mr-4">
                      <h5 class="text-light mb-0" >You are logged in as</h3>
                      <h6 class="text-success mb-0"><%= user.email %></h6> 
                      <% if (user.isAccountVerified == false) {%>
                      <p class="text-warning my-0">(not verified,check email !)</p>
                      <%}%>
                  </div>
                  <a href="/logout" class="btn btn-outline-primary mr-2">Logout</a>
                <% }
                else {%>
                  <a href="/login" class="btn btn-outline-primary mr-2">Login here</a>
                  <%}%>

                
                <input class="form-control mr-sm-2" type="search" name="post_title" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

              </form>
            </div>
      </nav>
          <!-- Nav bar ends -->